
ul,li {
    list-style: none;
    padding:0;
    margin:0;
}


.designetable {
    border-collapse: collapse;
    user-select: none;
    position: relative;
}

.designetable td {
    position: relative;
    height: 30px;
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 0;
}

.designetable td .v{
    position: absolute;
    /*background: red;*/
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
}

.designetable td .v:hover {
    cursor: col-resize;
}

.designetable td .h:hover{
    cursor: row-resize;
}

.designetable td .h {
    position: absolute;
    /*background: red;*/
    left:0;
    right:0;
    bottom: 0;
    height: 2px;
}

.designetable td  {
    text-align: center;
}


.designetable td.start {
    background-color: #295ebc !important;
}

.designetable .selected {
    background: rgba(84, 146, 221, 0.7);
}

.dt-context-menu {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    background: #f7f5f2;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);

    z-index: 1000;
}

.dt-context-menu.show {
    display: block;
}

.dt-context-menu li {
    height:30px;
    width:120px;
    border-bottom: 1px solid #cccccc;
    padding:0 5px;
    font-size: 15px;
    line-height: 30px;
    cursor: default;
    position: relative;
}

.dt-context-menu li:hover{
    background-color: #2f73dd;
    color: white;
}

.dt-context-menu .child-ul {
    display: none;
    color: black;
    position: absolute;
    top: 0;
    right: -130px;
    background: #f7f5f2;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
}

.dt-context-menu li:hover .child-ul{
    display: block;
}

.dt-line-v {
    position: absolute;
    top:0;
    bottom: 0;
    width:1px;
    border-left: 1px dashed black;
}

.dt-line-v-origin {
    position: absolute;
    top:0;
    bottom: 0;
    width:1px;
    border-left: 2px solid black;
}

.dt-line-h {
    position: absolute;
    left: 0;
    right:0;
    height:1px;
    border-top: 1px dashed black;
}

.dt-line-h-origin {
    position: absolute;
    left: 0;
    right:0;
    height:1px;
    border-top: 2px solid black;
}


